@cell-width: 12rem;
@cell-height: 7rem;
@cell-border-width: 1px;
@central-cell-border-width: 3px;
@caption-height: 4rem;
@button-width: 2rem;
@button-height: 2rem;

@actual-true-color: #800;
@actual-false-color: #080;
@predicted-true-color: #C40;
@predicted-false-color: #04C;
@highlight-color: #EF8;

.visually-hidden() {
	position: absolute;
	left: -10000px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

table.statistics-confusion {
	position: relative;
	margin: auto;
	table-layout: fixed;
	border-collapse: collapse;
	color: #000;
	a {
		color: #000;
		text-decoration-style: dotted;
		@media print {
			text-decoration: none;
		}
		&:hover {
			color: #008;
			text-decoration: underline;
			&:visited {
				color: #808;
			}
		}
	}
	.term {
		display: inline-block;
		&.highlight {
			background: fade(@highlight-color,50%);
			box-shadow: 0 0 0.2em 0.2em fade(@highlight-color,50%);
		}
		&[data-term='TP']::first-letter, &[data-term='FN']::first-letter {
			color: @actual-true-color;
		}
		&[data-term='FP']::first-letter, &[data-term='TN']::first-letter {
			color: @actual-false-color;
		}
		&[data-term='TP'], &[data-term='FP'] {
			color: @predicted-true-color;
		}
		&[data-term='FN'], &[data-term='TN'] {
			color: @predicted-false-color;
		}
	}
	.sfrac { // like in wikipedia: https://en.wikipedia.org/wiki/Template:Sfrac
		display: inline-block;
		//vertical-align: middle; // lower than necessary
		vertical-align: -0.6em;
		white-space: nowrap;
		.num, .den {
			display: block;
			text-align: center;
		}
		.den {
			border-top: solid 1px;
		}
		.aux {
			.visually-hidden();
		}
	}
	caption {
		height: @caption-height;
		line-height: @caption-height;
		font-size: 150%;
	}
	td, th {
		width: @cell-width;
		min-width: @cell-width;
		height: @cell-height;
		min-height: @cell-height;
		text-align: center;
		border: solid @cell-border-width #888;
		padding: 0;
		&.highlight {
			background: fade(@highlight-color,40%);
		}
		.label-color-code(@type) {
			&.@{type} .label {
				@color: "@{type}-color";
				color: @@color;
			}
		}
		.label-color-code(actual-true);
		.label-color-code(actual-false);
		.label-color-code(predicted-true);
		.label-color-code(predicted-false);
		.formula, .input {
			font-weight: normal;
			margin-top: .5em;
			&:first-child {
				margin: 0;
			}
		}
		.input {
			.aux, output {
				.visually-hidden();
			}
			input {
				text-align: center;
				&:invalid {
					background: #F8A;
				}
			}
		}
		.buttons {
			margin-top: .5em;
			opacity: 0.1;
		}
		&:hover .buttons {
			opacity: 1;
		}
	}
	tr:nth-child(2) td:nth-child(2) {
		border-top-width: @central-cell-border-width;
		border-left-width: @central-cell-border-width;
	}
	tr:nth-child(2) td:nth-child(3) {
		border-top-width: @central-cell-border-width;
		border-right-width: @central-cell-border-width;
	}
	tr:nth-child(3) td:nth-child(2) {
		border-bottom-width: @central-cell-border-width;
		border-left-width: @central-cell-border-width;
	}
	tr:nth-child(3) td:nth-child(3) {
		border-bottom-width: @central-cell-border-width;
		border-right-width: @central-cell-border-width;
	}
	button {
		position: absolute;
		width: @button-width;
		height: @button-height;
		font-size: 100%;
		line-height: 100%;
		padding: 0;
		border: solid 1px #888;
		color: #000;
		background: rgba(255,255,255,0.75);
		&:hover, &:focus {
			background: #DDF;
		}
		&.swap-rc {
			top: @caption-height - @button-height/2;
			left: -@button-width/2;
		}
		&.swap-c {
			top: @caption-height - @button-height/2;
			left: calc(@cell-width*2 - @button-width/2 ~'+' @cell-border-width + @central-cell-border-width);
		}
		&.swap-r {
			top: calc(@caption-height + @cell-height*2 - @button-height/2 ~'+' @cell-border-width + @central-cell-border-width);
			left: -@button-width/2;
		}
		&.add-c {
			top: @caption-height - @button-height/2;
			left: calc(@cell-width*4 - @button-width/2 ~'+' 2*(@cell-border-width + @central-cell-border-width));
		}
		&.add-r {
			top: calc(@caption-height + @cell-height*4 - @button-height/2 ~'+' 2*(@cell-border-width + @central-cell-border-width));
			left: -@button-width/2;
		}
		@media print {
			display: none;
		}
		svg {
			display: block;
		}
	}
}
