mixin wikipedia(url)
	a(href=url)
		block
mixin TP
	span.actual-true T
	span.predicted-true P
mixin FP
	span.actual-false F
	span.predicted-true P
mixin FN
	span.actual-true F
	span.predicted-false N
mixin TN
	span.actual-false T
	span.predicted-false N
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Confusion matrix
		link(rel='stylesheet',href='index.css')
		script(src='https://code.jquery.com/jquery-1.11.3.min.js')
		script(src='index.js')
	body
		table.statistics-confusion
			caption
				+wikipedia('https://en.wikipedia.org/wiki/Confusion_matrix') Confusion matrix
			tr
				th
					.label Total
					.formula #[+TP]+#[+FP]+#[+FN]+#[+TN]
				th
					.label Condition positive
					.label Actual true
					.formula #[+TP]+#[+FN]
				th
					.label Condition negative
					.label Actual false
					.formula #[+FP]+#[+TN]
				td
					.label Prevalence
					.formula (#[+TP]+#[+FN])/(#[+TP]+#[+FP]+#[+FN]+#[+TN])
			tr
				th
					.label Test outcome positive
					.label Predicted true
					.formula #[+TP]+#[+FP]
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/True_positive') True positive
					.formula: +TP
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/False_positive') False positive
					.formula: +FP
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Positive_predictive_value') Positive predictive value
					.label: +wikipedia('https://en.wikipedia.org/wiki/Precision_and_recall#Precision') Precision
					.formula PPV=#[+TP]/(#[+TP]+#[+FP])
			tr
				th
					.label Test outcome negative
					.label Predicted false
					.formula #[+FN]+#[+TN]
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/False_negative') False negative
					.formula: +FN
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/True_negative') True negative
					.formula: +TN
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Negative_predictive_value') Negative predictive value
					.formula NPV=#[+TN]/(#[+FN]+#[+TN])
			tr
				td
					.formula (#[+TP]+#[+FP])/(#[+TP]+#[+FP]+#[+FN]+#[+TN])
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/Sensitivity_and_specificity#Sensitivity') Sensitivity
					.label: +wikipedia('https://en.wikipedia.org/wiki/Precision_and_recall#Recall') Recall
					.label True positive rate
					.formula TPR=#[+TP]/(#[+TP]+#[+FN])
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/Sensitivity_and_specificity#Specificity') Specificity
					.label True negative rate
					.formula SPC=#[+TN]/(#[+FP]+#[+TN])
				td
					.label Accuracy
					.formula (#[+TP]+#[+TN])/(#[+TP]+#[+FP]+#[+FN]+#[+TN])
