doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Confusion matrix
		link(rel='stylesheet',href='index.css')
		script(src='https://code.jquery.com/jquery-1.11.3.min.js')
		script(src='index.js')
	body
		table.statistics-confusion
			caption Confusion matrix
			tr
				th
				th Condition positive
				th Condition negative
			tr
				th Test outcome positive
				td True positive
				td False positive
			tr
				th Test outcome negative
				td False negative
				td True negative
