doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Confusion matrix
	body
		h1 Confusion matrix
		table
			tr
				th
				th Condition positive
				th Condition negative
			tr
				th Test outcome positive
				td True positive
				td False positive
			tr
				th Test outcome negative
				td False negative
				td True negative
