@cellWidth: 12rem;
@cellHeight: 7rem;
@captionHeight: 3rem;
@buttonWidth: 2.5rem;
@buttonHeight: 2.5rem;

table.statistics-confusion {
	position: relative;
	margin: auto;
	table-layout: fixed;
	border-collapse: collapse;
	color: #000;
	a {
		color: #000;
		text-decoration-style: dotted;
		&:hover {
			color: #008;
			text-decoration: underline;
			&:visited {
				color: #808;
			}
		}
	}
	.true {
		color: #080;
	}
	.false {
		color: #800;
	}
	caption {
		height: @captionHeight;
		line-height: @captionHeight;
		font-size: 150%;
	}
	td, th {
		width: @cellWidth;
		height: @cellHeight;
		text-align: center;
		border: solid 1px #888;
		padding: 0;
	}
	button {
		position: absolute;
		width: @buttonWidth;
		height: @buttonHeight;
		font-size: 100%;
		line-height: 100%;
		padding: 0;
		border: solid 1px #888;
		color: #000;
		background: #FFF;
		&:hover, &:focus {
			background: #DDF;
		}
		&.swap-rc {
			top: @captionHeight + @cellHeight/2 - @buttonHeight/2;
			left: @cellWidth/2 - @buttonWidth/2;
		}
		&.swap-c {
			top: @captionHeight + @cellHeight/2 - @buttonHeight/2;
			left: calc(@cellWidth*2 - @buttonWidth/2 ~'+' 2px);
		}
		&.swap-r {
			top: calc(@captionHeight + @cellHeight*2 - @buttonHeight/2 ~'+' 2px);
			left: @cellWidth/2 - @buttonWidth/2;
		}
	}
}
