mixin wikipedia(url)
	block
	sup
		a(href=url) [W]
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Confusion matrix
		link(rel='stylesheet',href='index.css')
		script(src='https://code.jquery.com/jquery-1.11.3.min.js')
		script(src='index.js')
	body
		table.statistics-confusion
			caption
				+wikipedia('https://en.wikipedia.org/wiki/Confusion_matrix') Confusion matrix
			tr
				th
				th
					.label Condition positive
					.label Actual true
				th
					.label Condition negative
					.label Actual false
				th
			tr
				th
					.label Test outcome positive
					.label Predicted true
				td
					.label True positive
					.formula TP
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/False_positives_and_false_negatives#False_positive_error') False positive
					.formula FP
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Positive_predictive_value') Positive predictive value
					.label: +wikipedia('https://en.wikipedia.org/wiki/Precision_and_recall#Precision') Precision
					.formula TP/(TP+FP)
			tr
				th
					.label Test outcome negative
					.label Predicted false
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/False_positives_and_false_negatives#False_negative_error') False negative
					.formula FP
				td
					.label True negative
					.formula TN
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Negative_predictive_value') Negative predictive value
					.formula TN/(FN+TN)
			tr
				th
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/Sensitivity_and_specificity#Sensitivity') Sensitivity
					.label: +wikipedia('https://en.wikipedia.org/wiki/Precision_and_recall#Recall') Recall
					.formula TP/(TP+FN)
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/Sensitivity_and_specificity#Specificity') Specificity
					.formula TN/(FP+TN)
				td
					.label Accuracy
					.formula (TP+TN)/(TP+FP+FN+TN)
