mixin wikipedia(url)
	block
	sup
		a(href=url) [W]
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Confusion matrix
		link(rel='stylesheet',href='index.css')
		script(src='https://code.jquery.com/jquery-1.11.3.min.js')
		script(src='index.js')
	body
		table.statistics-confusion
			caption
				+wikipedia('https://en.wikipedia.org/wiki/Confusion_matrix') Confusion matrix
			tr
				th
				th
					.label Condition positive
					.label Actual true
				th
					.label Condition negative
					.label Actual false
			tr
				th
					.label Test outcome positive
					.label Predicted true
				td
					.label True positive
					.formula TP
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/False_positives_and_false_negatives#False_positive_error') False positive
					.formula FP
			tr
				th
					.label Test outcome negative
					.label Predicted false
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/False_positives_and_false_negatives#False_negative_error') False negative
					.formula FP
				td
					.label True negative
					.formula TN
			tr
				td
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/Sensitivity_and_specificity#Sensitivity') Sensitivity/recall
					.formula TP/(TP+FN)
				td
					.label: +wikipedia('https://en.wikipedia.org/wiki/Sensitivity_and_specificity#Specificity') Specificity
					.formula TN/(FP+TN)
